body
{
    color:indigo;
    text-align: left;
    font-size:larger;
    font-family: Arial;
    font-size: 16px;
    margin: 10;
    padding:50;
}

#cabecera{
    background:yellowgreen;
    box-shadow: 5px -5px 7px -4px #9e999e;
    color:#000000;
    font-weight: bold;
    margin: 0px;
    padding:0.5em;

}
#cabecera #tagline{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0.4em;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;

}

#container h1
{
    font-size: 100%;
}

#post
{
    
    padding 1em;
}

#Footer
{
    padding: 1em;
    background-color:yellowgreen;
    text-align: left;
    
}